.container-pay-in-4 {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;
}
.span-pay-in-4 {
  font-size: 14px;
  line-height: 20px;
  color: #4c4c4c;
  text-align: center;
}
.span-paypal-img {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.img-paypal {
  width: 79px;
  height: 30px;
}
.img-exclamation {
  width: 14px;
  height: 14px;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-order-totals
  .cart-actions
  > fieldset
  #go-checkout {
  width: 100%;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-order-totals
  .cart-actions
  > .cart-action-paypal {
  width: 100%;
}
@media screen and (max-width: 394px) {
  .container-pay-in-4 {
    padding: 1rem 1.5rem;
  }
}
