.container-top-pay-in-4 {
  width: 100%;
  max-width: 220px;
}
.container-pay-in-4 {
  width: 100%;
  padding: 6px 34px 0px 34px;
}
.span-top-pay-in-4 {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: inherit;
  text-align: center;
  letter-spacing: 0.29px;
  vertical-align: middle;
}
.span-pay-in-4 {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: inherit;
  text-align: center;
  letter-spacing: 0.34px;
  vertical-align: middle;
}
.span-top-pay-in-4 span {
  vertical-align: middle;
  line-height: 0px;
}
.span-pay-in-4 span {
  vertical-align: middle;
  line-height: 0px;
}
.img-top-paypal {
  width: 49px;
  height: auto;
}
.img-paypal {
  width: 65px;
  height: auto;
}
.img-top-exclamation {
  width: 11px;
  height: 11px;
  margin-bottom: 4px;
  margin-left: 4px;
}
.img-exclamation {
  width: 14px;
  height: 14px;
  margin-bottom: 5px;
  margin-left: 4px;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-order-totals
  .cart-actions
  > fieldset
  #go-checkout {
  width: 100%;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-order-totals
  .cart-actions
  > .cart-action-paypal {
  width: 100%;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-actions
  button.dw-apple-pay-button {
  width: 100%;
}
@media screen and (max-width: 394px) {
  a.cart-action-paypal.button {
    margin-bottom: 10px;
  }
}
