#wrapper.pt_cart
  #main
  #primary
  .cart-actions.cart-actions-top
  .cart-action-paypal {
  margin: 0;
}
fieldset a.cart-action-paypal.button {
  display: none;
}
fieldset a.test-41-child.cart-action-paypal.button {
  display: inline-block;
}
form#checkout-form fieldset {
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cart-action-paypal .button {
  display: none !important;
}
button.dw-apple-pay-button {
  order: 1;
}
.test-41 {
  order: 2;
  margin-right: 15px;
  float: right;
  max-width: 311px;
}
button.go-checkout.button {
  order: 3;
}
.container-top-pay-in-4 {
  width: 100%;
  margin: 0 auto;
  max-width: 200px;
}
.container-pay-in-4 {
  width: 100%;
  padding: 6px 34px 0px 34px;
}
.span-top-pay-in-4 {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: inherit;
  text-align: center;
  letter-spacing: 0.29px;
  vertical-align: middle;
}
.span-pay-in-4 {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: inherit;
  text-align: center;
  letter-spacing: 0.34px;
  vertical-align: middle;
}
.span-top-pay-in-4 span {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}
.span-pay-in-4 span {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}
.img-top-paypal {
  width: 49px;
  height: auto;
}
.img-paypal {
  width: 65px;
  height: auto;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-order-totals
  .cart-actions
  > fieldset
  #go-checkout {
  width: 100%;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-order-totals
  .cart-actions
  > .cart-action-paypal {
  width: 100%;
}
#wrapper.pt_cart
  #main
  #primary
  #cart-items-form
  .cart-footer
  .action-carousel
  .cart-actions
  button.dw-apple-pay-button {
  width: 100%;
}
@media screen and (max-width: 394px) {
  a.cart-action-paypal.button {
    order: 3;
  }
}
@media only screen and (max-width: 767px) {
  a.cart-action-paypal.button {
    margin-bottom: 7px;
  }
  .test-41 {
    width: 100%;
    margin-right: 0px;
    max-width: none;
  }
  .container-top-pay-in-4 {
    max-width: none;
    padding: 6px 34px 0px 34px;
  }
  button.go-checkout.button {
    order: 1;
  }
  #wrapper.pt_cart
    #main
    #primary
    .cart-actions.cart-actions-top
    .dw-apple-pay-button,
  #wrapper.pt_cart
    #main
    #primary
    .cart-actions.cart-actions-top
    .cart-action-paypal {
    margin: 10px 0 0;
    order: 3;
  }
  .span-top-pay-in-4 {
    font-size: 14px;
    line-height: 22px;
  }
  .img-top-paypal {
    width: 65px;
    height: auto;
  }
  #wrapper.pt_cart
    #main
    #primary
    .cart-actions.cart-actions-top
    .cart-action-paypal {
    margin-bottom: 7px;
  }
}
@media (min-width: 768px) and (max-width: 782px) {
  .test-41 {
    margin-right: 10px;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  @supports (-webkit-hyphens: none) and (not (-ms-ime-align: auto)) {
    .test-41 {
      margin-right: 0px;
      width: 32%;
    }
    a.test-41-child.cart-action-paypal.button {
      width: 100% !important;
    }
  }
}
