.floating-learning-center-container {
  border-top: 2px solid #34769c;
  z-index: 100;
}

.floating-learning-center-container ul {
  background-color: #ffffff;
  padding: 1rem 1.5rem;
}

.floating-learning-center-container ul li a {
  font-family: inherit;
  font-size: 14px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
}

.arrow-close {
  padding-right: 2rem;
}
