.regular.slider {
  display: block;
}

@media (min-width: 992px) {
  .thumbnails-container {
    display: none !important;
  }
  #pdpMain .product-core-info .breadcrumb {
    position: relative !important;
    margin: 16px 0 16px 20px;
  }
  .regular.slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  #pdpMain .product-core-info {
    padding: 0px 48px;
  }
  #pdpMain
    .product-core-info
    .product-image-container
    .product-primary-image
    .regular.slider {
    background-color: transparent;
  }
  .thumb {
    background-color: #f0f0f0;
  }
  #pdpMain .product-core-info .product-col-2 {
    padding-top: 47px;
  }
  #pdpMain .product-core-info + .product-info {
    margin-top: 0;
  }
  #pdpMain .product-content .product-content-item,
  #pdpMain .product-content .club-pdp-compare {
    position: static;
  }
  #pdpMain .product-core-info .product-image-container.sticky {
    position: static;
    width: 100%;
  }
}

@media (min-width: 1350px) {
  #pdpMain .product-core-info {
    padding: 0px 160px;
  }
}
