.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block !important;
}
.nav-link {
  text-transform: capitalize !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 20.16px !important;
  letter-spacing: 0px !important;
}
.arrow-open {
  padding-top: 0.2rem;
}

.arrow i {
  padding: 0.5rem;
  transform: rotate(90deg);
}
.dropdown:hover .arrow i {
  transform: rotate(-90deg);
}
.big-arrow i {
  width: 13px;
  height: 26px;
  color: #959595 !important;
}
.big-arrow {
  margin-bottom: 2rem;
}
.border {
  border: 1px solid rgb(232, 233, 235);
}
.floating-menu-container {
  width: 100vw;
  left: 0;
  position: fixed;
  height: 225px;
}
.floating-menu {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 100%;
}
.floating-menu .list {
  display: flex;
  flex-direction: column;
  width: 360px !important;
  height: 100%;
  background-color: #ffffff;
  padding: 1rem;
}
.floating-menu .list a {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  height: 42px;
  color: #4c4d4f;
  display: flex;
  justify-content: space-between;
}
.floating-menu .product-container {
  border-left: 1px solid #d6d6d6;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
.product-card img {
  width: 100%;
  max-width: 144px;
  width: 100%;
}
.product-title {
  text-align: center;
  color: #4c4d4f;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500 !important;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
.product-subtitle {
  text-align: center;
  color: #4c4d4f;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500 !important;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
.floating-learning-center-container {
  z-index: 100;
  width: 100%;
}
.floating-learning-center-container ul {
  border-top: 2px solid #34769c;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  list-style-type: none;
  width: 210px;
}
.floating-learning-center-container ul li a {
  font-family: inherit;
  font-size: 14px !important;
  line-height: 38px !important;
  font-weight: 400 !important;
}
.font-color-orange {
  color: #fe633c !important;
}
